body {
  background-color: #0f0f0f;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.titulo {
  font-size: 2.5rem;
  color: cyan;
  text-shadow: 0 0 10px cyan;
  margin-top: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
}

input {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
}

button {
  background-color: cyan;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00ffffa0;
}

.contenedor-juegos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
}

.tarjeta {
  background-color: #1a1a1a;
  border-radius: 12px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 0 10px #00ffff40;
}

.tarjeta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.sin-imagen {
  background-color: #333;
  color: gray;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
